[Unit]
Description=Alienware Fan Control

[Service]
Environment="CONFIG=/etc/awc-config"
ExecStart=/usr/local/bin/awc watch
StandardOutput=journal
StandardError=journal
SyslogIdentifier=awc

[Install]
WantedBy=multi-user.target
